---
import ThemeToggle from "../ThemeToggle.astro";

const { pathname } = Astro.url;
const isHome = pathname === "/" || pathname === "/index.html";
const TWITTER_URL = "https://twitter.com/rexliu";
const GITHUB_URL = "https://github.com/rexliu1912-star";
---

<header class="mb-16 flex items-center justify-between pt-2" id="main-header">
	<nav class="flex items-center gap-6 font-serif text-sm text-black dark:text-white">
		{
			isHome ? (
				<a
					href="/posts/"
					class="transition-colors hover:text-[#8953d1] hover:underline hover:decoration-[#8953d1] hover:decoration-1 hover:underline-offset-4 dark:hover:text-[#a175e8] dark:hover:decoration-[#a175e8]"
				>
					Archive
				</a>
			) : (
				<a
					href="/"
					class="transition-colors hover:text-[#8953d1] hover:underline hover:decoration-[#8953d1] hover:decoration-1 hover:underline-offset-4 dark:hover:text-[#a175e8] dark:hover:decoration-[#a175e8]"
				>
					Home
				</a>
			)
		}

		<a
			href={TWITTER_URL}
			target="_blank"
			rel="noopener noreferrer"
			class="transition-colors hover:text-[#8953d1] hover:underline hover:decoration-[#8953d1] hover:decoration-1 hover:underline-offset-4 dark:hover:text-[#a175e8] dark:hover:decoration-[#a175e8]"
		>
			Twitter (X)
		</a>

		<a
			href={GITHUB_URL}
			target="_blank"
			rel="noopener noreferrer"
			class="transition-colors hover:text-[#8953d1] hover:underline hover:decoration-[#8953d1] hover:decoration-1 hover:underline-offset-4 dark:hover:text-[#a175e8] dark:hover:decoration-[#a175e8]"
		>
			Github
		</a>
	</nav>

	<div class="flex origin-right scale-75 items-center gap-4">
		<ThemeToggle />
	</div>
</header>
