---
import ThemeToggle from "../ThemeToggle.astro";

const { pathname } = Astro.url;
const isHome = pathname === "/" || pathname === "/index.html";
const TWITTER_URL = "https://twitter.com/rexliu";
const GITHUB_URL = "https://github.com/rexliu1912-star";
---

<header class="mb-16 flex items-center justify-between pt-2" id="main-header">
	<nav class="flex items-center gap-6 font-serif text-sm text-black dark:text-white">
		{
			isHome ? (
				<a
					href="/posts/"
					class="transition-colors hover:text-[#8953d1] hover:underline hover:decoration-[#8953d1] hover:decoration-1 hover:underline-offset-4 dark:hover:text-[#a175e8] dark:hover:decoration-[#a175e8]"
				>
					Archive
				</a>
			) : (
				<a
					href="/"
					class="transition-colors hover:text-[#8953d1] hover:underline hover:decoration-[#8953d1] hover:decoration-1 hover:underline-offset-4 dark:hover:text-[#a175e8] dark:hover:decoration-[#a175e8]"
				>
					Home
				</a>
			)
		}

		<a
			href={TWITTER_URL}
			target="_blank"
			rel="noopener noreferrer"
			class="transition-colors hover:text-[#8953d1] hover:underline hover:decoration-[#8953d1] hover:decoration-1 hover:underline-offset-4 dark:hover:text-[#a175e8] dark:hover:decoration-[#a175e8]"
		>
			Twitter (X)
		</a>

		<a
			href={GITHUB_URL}
			target="_blank"
			rel="noopener noreferrer"
			class="text-sm transition-colors hover:text-[#8953d1] hover:underline hover:decoration-[#8953d1] hover:decoration-1 hover:underline-offset-4 dark:hover:text-[#a175e8] dark:hover:decoration-[#a175e8]"
		>
			GitHub
		</a>
	</nav>

	<div class="flex origin-right scale-75 items-center">
		<a
			href="/rss.xml"
			class="hover:text-accent relative h-9 w-9 cursor-pointer rounded-md p-2 transition-colors"
			title="Subscribe to RSS Feed"
			aria-label="Subscribe to RSS Feed"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-7 w-7 -translate-x-1/2 -translate-y-1/2"
				fill="none"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M4 11a9 9 0 0 1 9 9" stroke-linecap="round" stroke-linejoin="round"></path>
				<path d="M4 4a16 16 0 0 1 16 16" stroke-linecap="round" stroke-linejoin="round"></path>
				<circle cx="5" cy="19" r="1"></circle>
			</svg>
		</a>
		<ThemeToggle />
	</div>
</header>
